{% extends "common/html/container.html" %}
{% block content %}


<div>
    <div class="form-group">
        <span class="question-count"></span>
        <input name="number" class="form-control number"
               placeholder="Input to fibonacci sequence must be a non-negative integer"
               onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
    </div>
    <div class="col-sm-12 col-md-12">
        <button class="btn btn-success" onclick="addTrackQuestion()">Submit</button>
    </div>
</div>
<div class="fibanacci">

</div>
<div class="col-sm-12 col-md-12" id="question-div" style="visibility: hidden">
    <p class="fibanacci1"><span>Fibonacci Number: </span><span
            class="fibanacci_number"></span></p>
    <p class="fibanacci1"><span>Execution Time: </span><span class="fibanacci_time"></span>
    </p>
</div>

{% load static %}
<script type="text/javascript"
        src="{% static 'add-track-question-choices/add-track-question-choices.js' %}"></script>

{% endblock %}